<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Wiki</title>
</head>
<body>

<h1>Wiki</h1>

<p><a th:href="@{/pages/new}">新規ページ作成</a></p>

<ul>
    <li th:each="p : ${pages}">
        <a th:href="@{/pages/{id}(id=${p.id})}" th:text="${p.title}"></a>
        <a th:href="@{/pages/{id}/edit(id=${p.id})}">編集</a>
        <form th:action="@{/pages/{id}/delete(id=${p.id})}" method="post" style="display:inline;">
    		<button type="submit">削除</button>
		</form>
    </li>
</ul>

</body>
</html>